body {
  background: rgb(32, 32, 32);
  color: rgb(224, 224, 224);
  overflow-x: hidden;
}

img {
  margin-right: -1.2rem;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  transition: transform 0.2s;
  display: inline-block;
  max-width: 310px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgb(61, 61, 61);
  width: 100%;
  max-width: 300px;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
